.counter {
	margin: 5rem auto;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	width: 40rem;
	border-radius: 8px;
	padding: 1rem;
	text-align: center;
	background-color: #f4f0fa;
}

.counter h1 {
	text-transform: uppercase;
	color: #ee941f;
	margin: 0;
	font-size: 1rem;
}
.counter button {
	margin: 1rem;
	font-size: 1rem;
	color: black;
	background-color: #008080;
	border-color: #008080;
}

.value {
	font-size: 2rem;
	color: #008080;
	margin: 2rem 0;
	font-weight: bold;
}
